body{
    background-image: url("https://www.hindustantimes.com/ht-img/img/2023/08/25/1600x900/international_dog_day_1692974397743_1692974414085.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    height: 100vh;
}

h1{
    color:white;
}